#aseguradoras
    [class^="col-"]
        +bp($medium)
            width: 100%
    .marquee
        .img
            display: inline-block
            margin-right: 2rem
            width: rem(160px)
            &:last-child
                margin: 0
