#aseguradoras
    [class^="col-"]
        +bp($medium)
            width: 100%
    .glide
        position: relative
        width: 60%
        margin: 0 auto
        .glide__wrapper
            .glide__track
                .glide__slide
                    position: relative
                    text-align: center
                    .img
                        width: rem(200px)
