$colorPrimary: #ffd44c; 
$colorSecundary: #FF0000;
$fontFamily: 'Open Sans', sans-serif;

@import 'modulos/mixins.scss';
@import 'modulos/bootstrap.min.scss';
@import 'modulos/flexslider.scss';
@import 'modulos/flickity.min.scss';
@import 'modulos/fancybox.scss';
@import 'modulos/menu-offcanvas.scss';
@import 'modulos/animate.scss';
@import 'modulos/tinyscrollbar.scss';

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.infoProceso {
	background: no-repeat;
	border: 1px solid #cccccc;
	background-position: 10px center;
	padding: 10px 10px 10px 50px;
	font-size: 90%;
	margin-bottom: 16px;

	&.info {
		background-color: #BDE5F8;
		background-image: url(../img/icoInfo.png);
		color: #00529B;
	}
	&.exito {
		background-color: #DFF2BF;
		background-image: url(../img/icoExito.png);
		color: #4F8A10;
	}
	&.alerta {
		background-color: #FEEFB3;
		background-image: url(../img/icoAlerta.png);
		color: #9F6000;
	}
	&.error {
		background-color: #FFBABA;
		background-image: url(../img/icoError.png);
		color: #D8000C;
	}
}

.hide{
	display: none;
}

.clearfix{
	clear: both;
}

.container-fluid{
	max-width: 1400px;
}

.wrapper{
	position: relative;
}

.capital-letter{
	font-size: 40px;
	font-weight: 700;
	display:inline-block;
	float: left;
	line-height: 32px;
	margin-right: 5px;
}

.form-contacto-page{
	padding: 20px 0;
}

.main-header{
    position: relative;
	z-index: 200;
    width: 100%;
	
	.header-content{
		padding: 0 0;
		height: 70px;
		background: #fff;
		
		body.hasFeaturedHeader &{
			background: transparent;
		}
	}
	
	body.stick-nav &{
		opacity: 1;
		height: auto;
		visibility: visible;
		z-index: 200;
		position: fixed;
		top: 0; 
		left: 0; 
		width: 100%;
	}
}

.header-nav{
	font-size: 14px;

	ul{
		margin: 0 0;
		padding: 0 0;
		list-style-type: none;
	}
	
	> ul{
		float: right;
	}

	li{
		float:left;
		position: relative;
		
		ul {
			@include transition(all .25s ease);
			
			li{
				display: block;
				float: none;

				span{
					display: block;
					border-bottom: 1px solid #e6e6e6;
					padding: 8px 16px;
					margin: 0 10px;
				}
			}
		}
		
		&:hover{
			border-bottom: 2px solid #ffd44c;
		}
		
		&:hover > ul {
			opacity: 1;
			top: 100%;
			visibility: visible;
		}
	}
	
	a{
		display: block;
		color: #7082a0;
		font-size: 11px;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	.nivel-0{
		> li:hover{
			> a:after {
				background: #fff;
			}
		}
		
		> li > a{
			line-height: 50px;
		}

		a{
			color: #3e3a3b;
			padding: 0 10px;
			margin: 10px 0;
			height: 50px;
			overflow: hidden;

			&.childrens:after {
				content: '\f0d7';
				font-family: FontAwesome;
				color: $colorPrimary;
				position: absolute;
				right: 0;
				width: 20px;
				text-align: center;
				line-height: 50px;
				top: 0;
				height: 50px;
			}
		}
		
		> li{
			height: 70px;
		}
	}
	
	.nivel-1{
		position: absolute;
		right: 0;
		top: 90%;
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		background: #fff;
		min-width: 150px;
		max-width: 350px;
		
		a{
			font-size: 13px;
			font-weight: 500;
			color: #626262;
			margin: 0 0;
			padding: 0 0;
			height: auto;
			
			border-left: 3px solid #fff;
			border-right: 3px solid #fff;
			
			&:hover{
				background: #f4f4f4;
				border-left: 3px solid #767676;
				border-right: 3px solid #767676;
			}
			
			&:after{
				display: none;
			}
		}
		
		li{
			padding: 0 0;
			margin: 0 0;
		}

		.childrens{
			color: #d11f2f;
		}
	}

	.nivel-2,
	.nivel-1{
		.childrens{
			color: #7082a0;
			
			span{
				&:after{
					font-family: FontAwesome;
					content: "\f0da";
					color: #d01f2f;
					position: absolute;
					right: 5px;
				}
			}
		}
		
		li{
			&:hover > ul{
				top: 0;
			}
		}
	}

	.nivel-3,
	.nivel-2{
		background: #fff;
		position: absolute;
		left: 100%;
		top: 0!important;
		z-index: 100;
		opacity: 0;
		visibility: hidden;
		
		span{
			white-space: pre;
		}
	}
}

.main-header-alternative{
	
	.cont-telefono,
	.container-logo{
		position: absolute;
		left: 5%;
		z-index: 10;
	}
	
	
	.container-logo{
		top: 40px;
	}
	
	.cont-telefono{
		position: absolute;
		top: 6px;
		background: #095187;
		border: 1px solid #207cc4;
		color: #fff;
		padding: 4px 30px;
		border-radius: 20px;
		margin: 0 0;
		
		a{
			color: #fff;
		}
	}
	
	nav{	
		position: absolute;
		top: 40px;
		right: 1%;
		z-index: 10;
		
		> ul{
			float: left;
			opacity: 0;
			width: 0;
			height: 0;
			visibility: hidden;
			background: #fff;
			
			@include transition(all .25s ease);
			
			> li{
				padding: 18px 5px 19px;
				display:none;
			}
		}
		
		&:hover{
			> ul{
				width: auto;
				height: auto;
				opacity: 1;
				visibility: visible;
				
				> li{
					display: block;
				}
			}
		}
	}
	
	.control-menu-alternative{
		display: block;
		padding: 17px 10px;
		width: 54px;
		float: left;
		cursor: pointer;
		position: relative;
		background: #fff;

		.line{
			width: 23px;
			height: 1px;
			background: #0a538a;
			display: block;
			margin: 4px auto;

			@include transition(all 0.2s);
		}
	}
}

.container-logo{
	margin: 0 0;
	position: relative;
	
	a{
		height: 70px;
		width: 100%;
		display: block;
		line-height: 70px;
	}
}

.featured{
	position: relative;
	
	.flex-figure{
		position: relative;
		
		a{
			display: block;
			position: relative;
		}
		
		img{
			width: 100%;
		}
	}
	
	.hero-content {
		width: 100%;
		z-index: 99;
		margin-top: -50px;
		
		img{
			width: initial;
			display: inline-block;
		}
		
		.content{
			padding: 30px 0;
			background: #fff;
			font-size: 13px;
			
			h2{
				background: #f8f8f8;
				float: left;
				padding: 4px 20px;
				font-size: 19px;
				
				&:after{
					content: '';
					background: #f8f8f8;
					width: 30px;
					height: 100%;
					display: block;
					position: absolute;
					top: 0;
					right: -15px;
					z-index: 0;
					margin: 0 0;
					border: 0 none;
					
					@include transform(skew(-30deg));
				}
				
				& + *{
					clear: both;
				}
			}
		}
	}
}

.block-container{
	padding: 20px 0;
}

.bkgn-white{
	background: #fff;
}

.review-faqs{
	.titulo{
		background: #f7f7f7;
		font-size: 16px;
		    padding: 8px 36px 8px 16px;
		cursor: pointer;
		position: relative;
		
		&:after {
			content: '\f068';
			font-family: FontAwesome;
			color: #000;
			position: absolute;
			right: 10px;
			width: 20px;
			text-align: center;
			line-height: 36px;
			top: 0;
			height: 36px;
		}
		
		&.collapsed:after {
			content: '\f067';
		}
	}
	
	.contenido{
		font-size: 13px;
		padding: 10px;
		margin-bottom: 16px;
	}
}

.flickity-prev-next-button,
.flickity-prev-next-button:hover{
	.arrow {
	}
}

.toggle-panel{
	cursor: pointer;
}

.btn{
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	padding: 2px 12px;
}

.form-contacto-page{

	[type="submit"]{
		background: $colorPrimary;
		color: #fff;
		border-radius: 8px;
		border: 0 none;
		padding: 4px 30px;
		font-weight: 700;
	}
	
	[type="text"],
	textarea,
	select{
		border: 1px solid #ebebeb;
		padding: 6px 9px;
		background: #fff;
		font-size: 15px;
		font-weight: 600;
		color: #0c3564;
		width: 100%;		
	}

	textarea{
		height: 170px;
		resize: vertical;
	}
	
	.item-contacto{
		padding-left:55px;
		
		img{
			float:left;
			margin-left: -55px;
		}
		
		label, 
		span{
			font-weight: 500;
			color: #0F3A8A;
		}
	}
}

.btn-destacado{
	width: 100%;
	background: $colorPrimary;
	line-height: 26px;
	font-size: 13px;
	white-space: normal;
	padding: 2px 8px;
}

.google-map-contacto{
	height: 340px;
	width: 100%;
	margin-bottom: 16px;
}

.read-more{
}

.video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin: 0 0 16px;
	
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

[role="main"]{
	background: #fff;
	
	body.has-banner &{
		padding-top: 0;
	}
}

.main-footer{
	position:relative;
	color: #fff;
	padding: 40px 0;
	font-size: 12px;
	
	a{
		color: #fff;
	}
	
	.derechos{
		margin-top: 32px;
		text-align: center;
		font-size:12px;
	}
	
	h4{
		color: #f7cb3e;
		font-size: 18px;
		font-weight: 700;
	}
}

.preview-items-seccion{
	article{
		border-bottom: 1px solid #d0d1d1;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
}

.paginacion{
	text-align: center;
	padding: 20px 0;
	a,span{
		font-size: 18px;
		display: inline-block;
		margin: 0 5px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
	margin: 0 0 16px 0;
}

input,
textarea{
	font-family: $fontFamily;
}

body{
	color: #363435;
	background: url(../img/textura-footer.jpg);
	font-size: 16px;
	font-family: $fontFamily;
	font-weight: 400;
	line-height: 1.2em;
}

a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
}

img{
	max-width: 100%;
}

.figure-header{
	margin-top: -70px;

	img{
		width: 100%;
	}
}

.migas{
	margin-bottom: 26px;
}

#main-featured{
	margin-top: -70px;
	
	.selector{
		width: 25px;
		height: 2px;
		background: #fff;
		margin: 0 6px;
	}
}

#customControl{
	position: absolute;
	bottom: 12px;
	left: 10px;
	z-index: 99;
	
	ul{
		padding: 0 0;
		list-style-type: none;
	}
	
	li{
		float:left;
		
		&:before{
			display:none;
		}
	}
	
	.flex-active{
		.selector{
			background: #ffcc29;
		}
	}
}

.flickity-prev-next-button.next {
    right: -20px;
}

.flickity-prev-next-button.previous {
    left: -20px;
}

.btn-cta {
    border: 2px solid #fff;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    padding: 10px 26px;
    color: #fff;
	
	@include transition(all .2s);
}

.btn-cta:hover {
    text-decoration: none;
    background: #fff;
    color: $colorSecundary;
}

#googleMapUbicaciones{
	height: 400px;
}

.forms-calculadoras{
	width: 100%;
	background: #f7cb3e;
	overflow-x: hidden;
	
	.nav-tabs{
		border-bottom: 0 none;
	}
	
	li{
		position:relative;
		z-index: 2;
	}
	
	li::before{
		display: none;
	}
	
	.nav-tabs > li > a{
		border: 0;
		font-size: 18px;
		font-weight: 700;
	}
	
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		background-color: transparent;
		border: 0;
    }
	
	.nav > li > a:hover, .nav > li > a:focus {
		text-decoration: none;
		background-color: transparent;
		border: none;
	}
	
	.tab-left{
		background: #f7f7f7;
	
		&::after {
			background: #f7f7f7;
			content: '';
			display: inline-block;
			width: 300%;
			height: 100%;
			top: 0;
			left: -300%;
			position: absolute;
			z-index: -1;
		}
	}
	
	.tab-right{
		background: #f7f7f7;
	
		&::after {
			background: #f7f7f7;
			content: '';
			display: inline-block;
			width: 300%;
			height: 100%;
			top: 0;
			right: -300%;
			position: absolute;
			z-index: -1;
		}
	}
	
	.nav-tabs > li.active{
		&.tab-left,
		&.tab-right{
			background: transparent;
			&::after{
				display:none;
			}
		}
	}
	
	.tab-content{
		padding: 50px 0;
	}
}

.preview-service{
	width: 16.66%;
	position: relative;
	overflow: hidden;
	float: left;
	
	.full-width{
		width: 100%;
	}
	
	.logo{
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
	}
	
	figcaption{
		background: #2d2c2c;
		background: rgba(44, 44, 44, 0.85);
		color: #f7cb3e;
		padding: 10px;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		display: table;
		
		p{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			margin: 0 0;
			font-weight: 600;
			font-size: 18px;
			height: 86px;
			width: 100%;
			padding: 10px;
		}
	}
	
	.overlay{
		background: #f7cb3e;
		position: absolute;
		bottom: -101%;
		width:100%;
		height: 100%;
		padding: 10px;
		
		header{
			font-size: 18px;
			font-weight: 600;
			color: #363636;
			text-align: center;
		}
		
		.abstract{
			font-size: 14px;
			font-weight: 300;
		}
		
		.fake-table{
			display: table;
			width: 100%;
			height: 100%;
		}
		
		.fake-table-cell{
			display: table-cell;
			vertical-align: middle;
		}
	}
	
	&:hover .overlay{
		bottom: 0;
	}
}

.header-template{
	text-align:center;
	margin-top: 34px;
	margin-bottom: 34px;
	
	h2{
		font-weight: 700;
		color: #68a93d;
		font-size: 20px;
		
		&::before{
			display: inline-block;
			content: '';
			height: 9px;
			width: 38px;
			margin-right: 10px;
			background: url(../img/linea-izquierda.png) no-repeat;
		}
		
		&::after{
			display: inline-block;
			content: '';
			height: 9px;
			width: 38px;
			margin-left: 10px;
			background: url(../img/linea-derecha.png) no-repeat;
		}
	}
}

.newsletter-form-container{
	padding: 50px 0 100px;
	background: url(../img/fondo-newsletter.jpg) no-repeat 0 0;
	background-size: cover;
	
	h2{
		font-size: 24px;
		color: #fff;
		font-weight: 600;
		text-align: center;
	}
	
	[type="text"]{
		color: #fff;
		width: 100%;
		height: 36px;
		background: transparent;
		font-size: 14px;
		padding: 0 20px;
		border: 1px solid #fff;
	}
	
	[type="submit"]{
		width: 100%;
		height: 36px;
		background: #f7cb3e;
		color: #363636;
		font-weight: 700;
		border: 0;
		font-size: 14px;
	}
}

.formCalculadora{
	select,
	[type="text"]{
		height: 36px;
		width: 100%;
		padding: 0 10px;
	}
	
	[type="submit"]{
		background: #383736;
		border: 0 none;
		color: #fff;
		font-size: 14px;
		font-weight: 600;
		height: 30px;
		padding: 0 20px;
	}
}

.cont-resultado-calculo{
	padding: 50px 0;
	
	h2{
		font-size: 22px;
		text-align: center;
		font-weight: 300;
	}
	
	h3{
		font-size: 32px;
		text-align: center;
		font-weight: 700;
		color: #75b04f;
		background: #f8f8f8;
	}
	
	figure{
		text-align: center;
		font-weight: 700;
		font-size: 11px;
		margin-top: 50px;
		
		img{
			margin-bottom: 15px;
		}
		
		figcaption{
			padding-top: 15px;
		
			&::before{
				content: '';
				display: block;
				width: 40px;
				height: 2px;
				background: #f7cb3e;
				margin: -15px auto 15px;
			}
		}

		span{
			font-weight: 300;
			font-size: 19px;
		}
	}
}

#container-result-calculadora{
	background: #F1F1F1 url(../img/separador_calc.png) no-repeat center 0;
}

.ver-mas .btn-info{
	background: $colorPrimary;
}

a{
	color: #68a93d;
}

@import 'modulos/responsive.scss';
