/* Mixins */

@mixin clearfix {
	display: inline-block;
  
	&:after {
		content: "";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	
	* html & { height: 1px }
}

@mixin opacity($opacity) {
	-webkit-opacity: $opacity;
	   -moz-opacity: $opacity;
	        opacity: $opacity;
	/*IE8*/
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie);
}

@mixin transition($args) {
	-webkit-transition: $args;
	   -moz-transition: $args;
	    -ms-transition: $args;
	     -o-transition: $args;
	        transition: $args;
}

@mixin backface-visibility($args) {
	-webkit-backface-visibility: $args;
  	   -moz-backface-visibility: $args;
	    -ms-backface-visibility: $args;
	     -o-backface-visibility: $args;
	        backface-visibility: $args;
}

@mixin transform($args) {
	-webkit-transform: $args;
	   -moz-transform: $args;
	    -ms-transform: $args;
	     -o-transform: $args;
	        transform: $args;
}

@mixin box-shadow($args){
	-webkit-box-shadow: $args;
       -moz-box-shadow: $args;
	    -ms-box-shadow: $args;
	     -o-box-shadow: $args;
            box-shadow: $args;
}


@mixin hide-text{
    overflow:hidden;
    text-indent:-9000px;
    display:block;
}