/* responsive.scss */

@media only screen and (max-width: 600px) {

	.flexslider figure{
		overflow: hidden;
	}

	.flexslider img{
		height: 250px;
		width: auto!important;
		position: relative;
		left: 50%;
		max-width: none;
		@include transform(translateX(-50%));
	}
	
	.form-boletin-suscripcion .input-group [type="text"]{
			width: 190px;
	}

	.header-widget,
	.header-sistema{
		h2{
			margin:0 0 32px;
			&::after,
			&::before{
				display:none;
			}
			
			&::before{
				display: block;
				width: 50%;
				position: absolute;
				bottom: -16px;
				left: 50%;
				margin-left: -25%;
			}
		}
	}
	
	#customControl{
		display:none;
	}

	.flexslider .hero-content img {
		height: auto;
		position: relative;
		left: 0;
		max-width: 100%;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}

	.featured .hero-content {
		margin-top: 0;
	}

	.container-logo a:after {
		display: none;
	}
}
