/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/*--------------------------------------------------------------
iPad Portrait
--------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
	.container_24 {
	  margin-left: auto;
	  margin-right: auto;
	  width: 100%;
	  position:relative;
	  
	  	.grid_1,
		.grid_2,
		.grid_3,
		.grid_4,
		.grid_5,
		.grid_6,
		.grid_7,
		.grid_8,
		.grid_9,
		.grid_10,
		.grid_11,
		.grid_12,
		.grid_13,
		.grid_14,
		.grid_15,
		.grid_16,
		.grid_17,
		.grid_18,
		.grid_19,
		.grid_20,
		.grid_21,
		.grid_22,
		.grid_23,
		.grid_24 {
			margin-left: 1%;
			margin-right: 1%;
		}
		
		.grid_1,
		.grid_2,
		.grid_3,
		.grid_4,
		.grid_5,
		.grid_6,
		.grid_7,
		.grid_8,
		.grid_9,
		.grid_10,
		.grid_11,
		.grid_12{
			width:48%;
		}
		
		.grid_13,
		.grid_14,
		.grid_15,
		.grid_16,
		.grid_17,
		.grid_18,
		.grid_19,
		.grid_20,
		.grid_21,
		.grid_22,
		.grid_23,
		.grid_24{
			width:98%;
		}
		
		.prefix_1,
		.prefix_2,
		.prefix_3,
		.prefix_4,
		.prefix_5,
		.prefix_6,
		.prefix_7,
		.prefix_8,
		.prefix_9,
		.prefix_10,
		.prefix_11,
		.prefix_12,
		.prefix_13,
		.prefix_14,
		.prefix_15,
		.prefix_16,
		.prefix_17,
		.prefix_18,
		.prefix_19,
		.prefix_20,
		.prefix_21,
		.prefix_22,
		.prefix_23{
			padding-left: 0;
		}
		
		.suffix_1,
		.suffix_2,
		.suffix_3,
		.suffix_4,
		.suffix_5,
		.suffix_6,
		.suffix_7,
		.suffix_8,
		.suffix_9,
		.suffix_10,
		.suffix_11,
		.suffix_12,
		.suffix_13,
		.suffix_14,
		.suffix_15,
		.suffix_16,
		.suffix_17,
		.suffix_18,
		.suffix_19,
		.suffix_20,
		.suffix_21,
		.suffix_22,
		.suffix_23{
			padding-right: 0;
		}
	}
	
	.main-header{
		height:auto;
		
		h1{
			float:none;
			text-align:center;
			padding-top:10px;
			margin:0 0;
			width:100%;
			padding:0 0;
		}
	}
	
	.preview-solucion{
		width:48%!important;
		margin:1%!important;
	}
	
	.soluciones-servicios .preview-solucion h3{
		height:0!important;
		font-size: 18px!important;
	}

	.slide-logos{
		img{
			max-height:100%;
		}
	}
	
	.main-nav ul{
		display:none;
		width:98%;
		margin:0 1%;
	}
	
	.main-footer #contacto{
		width:100%;
		padding:0 0;
	}
	
	.main-footer #contacto .content{
		width:100%;
		float:none;
	}
	
	.main-footer #googlemap{
		float:none;
		position:fixed;
		width:100%;
		height:300px;
		
		img{
			max-width:none;
			max-height:none;
		}
	}	
	
	body{
		min-width:100%;
		height:100%;
	}
	
	html{
		height:100%;
	}
	
	.open-menu{
		
		.ico-menu{
			.icon-bar.first{
				-webkit-transform:rotate(45deg) translateY(7px);
				-moz-transform:rotate(45deg) translateY(7px);
				-ms-transform:rotate(45deg) translateY(7px);
				-o-transform:rotate(45deg) translateY(7px);			
				transform:rotate(45deg) translateY(7px);
			}
			.icon-bar.middle{
				-webkit-transform:rotate(-45deg) translateY(-7px);
				-moz-transform:rotate(-45deg) translateY(-7px);
				-ms-transform:rotate(-45deg) translateY(-7px);
				-o-transform:rotate(-45deg) translateY(-7px);	
				transform:rotate(-45deg) translateY(-7px);
			}
			.icon-bar.last{
				display:none;			
			}
		}
		
		.main-nav ul{
			display: block;
			float: none;
			padding-bottom:4px;
			
			position: absolute;
			background: #fff;
			width: 98%;
			right: 0;
			
			a{
				padding:4px 0;
			}
			
			li{
				float:none;
				ul{
					position:static;
					box-shadow:none;
					max-width:none;
					
					a{
						padding:4px 10px;
					}
				
				}
				
				a{
					display:block;
				}
			}
			
			.opciones-monitoreo ul{
				display:none;
			}
		}
	}
	
	.menu-responsivo {
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
		
		display:block;
		
		width: 98%;
		z-index: 1000;
		
		position: absolute;
		top: 20px;
		right: 0;
	}	
	
	.ico-menu {
		display: block;
		position:absolute;
		top:0;
		right:16px;
		cursor:pointer;
		width:30px;
		height:30px;
	}
	
	.icon-bar {
		display: block;
		width: 30px;
		height: 8px;
		background: #f16639;
		border-radius: 2px;
		margin-top: 2px;
		
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	
	.main-featured{
		height:auto;
	}
	
	.info-block{
		padding:16px 0;
	}
	
	.redes-sociales{
		top:125px;
	}
	
	.opciones {
		position:static;
		text-align: center;
		margin-top: 10px;
	}
	
	.scroll{
		display:none;
	}
}

/*--------------------------------------------------------------
Smartphone (any)
--------------------------------------------------------------*/
@media screen and (max-device-width: 480px),
screen and (-webkit-min-device-pixel-ratio: 2) {
	-webkit-text-size-adjust: none;	
}

@media only screen and (max-width: 480px) {
	
	.container_24{
		.grid_1,
		.grid_2,
		.grid_3,
		.grid_4,
		.grid_5,
		.grid_6,
		.grid_7,
		.grid_8,
		.grid_9,
		.grid_10,
		.grid_11,
		.grid_12,
		.grid_13,
		.grid_14,
		.grid_15,
		.grid_16,
		.grid_17,
		.grid_18,
		.grid_19,
		.grid_20,
		.grid_21,
		.grid_22,
		.grid_23,
		.grid_24{
			width:98%;
			margin:0 1%;
		}
	}	
	
	.desktop{
		display:none;
	}
	
	body{
		min-width:100%;
	}
	
	.slide-logos{
		.grid_4{
			width:48%;
		}
	}
	
	.redes-sociales{
		display:none;
	}
}

/*--------------------------------------------------------------
iPhone
--------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
	#wrapper, body{
		min-width:320px;
	}
	
	td{
		display:block;
		width:100%!important;
		margin-bottom:30px!important;
	}
	
	td div, td p{
		width:98%!important;
		padding:0 1%!important;
		text-align:center;
		float:none!important;
	}
}